.form{
  /* max-width: 30rem; */
  margin-inline: auto;
  @mixin grid 1, 1fr, 3rem;
  @media screen and (min-width: 56.25rem) {
    margin-inline: initial;
  }

  &-subTitle{
    font-size: 14px;
    font-weight: 600;
    padding: 1rem 0;
    @media screen and (min-width: 56.25rem) {
      padding: 0 0 1rem 0;
      font-size: 18px;
    }

  }

  &-subsection{
    @mixin grid 1, 1fr, 1rem;
    width: 100%;
  }

  &-containerCheck{
    justify-self: flex-start;
    display: flex;
    gap: .6rem;
    margin-top: 0.5rem;
  }

  &-checkbox{
    accent-color: var(--clr--primary);
  }

  &-checkboxInfo{
    font-size: 0.7rem;
  }
}