/* base imports */
@import 'base/reset.css';
@import 'base/typography.css';
@import 'base/mediaQueries.css';
/* abstracts import */
@import 'abstracts/variables.css';
@import 'abstracts/mixins.css';
/* utilities import */
@import 'utilities/utilities.css';
/* form */
@import 'components/form.css';
@import 'components/card.css';
@import 'components/questionContainer.css';
@import 'components/btn.css';

body {
  font-family: "Montserrat" , serif;
  background-color: var(--body--color);
  color: var(--negroPlus);
  background: var(--blancoPlus);
}