/* base imports */
@import 'base/reset.css';
@import 'base/typography.css';
/* abstracts import */
@import 'abstracts/variables.css';
@import 'abstracts/mixins.css';

/* layout */
@import 'layout/header.css';
@import 'layout/main.css';
@import 'layout/footer.css';
/* form */
@import 'components/form.css';
@import 'components/cardShop.css';
@import 'components/card.css';
@import 'components/dataShop.css';
@import 'components/questionContainer.css';
@import 'components/btn.css';

/* Window modal */
@import 'components/modal.css';

/* utilities import */
@import 'utilities/paddingTop.css';


body {
  @mixin grid 1, 1fr, 1.5rem;
  width: min-content;
  display: grid;
  font-family: "Montserrat" , serif;
  background-color: var(--body--color);
  color: var(--negroPlus);
  background: var(--blancoPlus);
  margin: 2rem auto 0;

  @media screen and (min-width: 56.25rem) {
    width: 55rem;
    grid-template-columns: repeat(2,1fr);
  }
}